#principal {
    width: -webkit-fill-available;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    color: white;
}

form {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 70%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#input-case {
    width: -webkit-fill-available;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(63, 63, 63);
    outline: none;
    padding-inline: 15px;
    transition: 0.4s ease;
    color: white;
}

#input-case:hover {
    background-color: rgb(102, 102, 102);
}

input::placeholder {
    padding: 2px;
}

.button-box {
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
}

#button-case {
   height: 35px;
   width: -webkit-fill-available;
   border-radius: 5px;
   border: none;
   background: blue;
   color: white;
   transition: 0.2s ease;
}

#button-case:hover {
    box-shadow: 0 0 5px rgba(0, 110, 255, 0.7);
    background-color: rgb(0, 53, 168);
}

#corpo {
    background-color: rgb(49, 49, 49);
    color: white;
}

#complemento {
    flex: 1;
    margin: 0;
    color: white;
}

span {
    margin-left: 47px;
    margin-top: 0;
    font: bold 8pt;
    color: rgb(255, 255, 255);
}

#smartphone-research {
    display: none;
    background-color: transparent;
    border: none;
}


@media (max-width: 600px) {
    .button-box {
        display: none;
    }

    .input-box {
        width: 100%;
    }

    form {
        width: 90%;
        height: 40px;
        margin-top: 7px;
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    #principal {
        height: 50px;
    }

    p {
        margin-left: 11%;
        margin-top: 0;
        font-size: 14px;
        color: white;
    }

    #smartphone-research {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 29px;
}
}



