<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
    <title>Flask</title>
</head>
<body class="corpo">
    <form action="/login/" method="POST" id="formulario">
        <h1 class="titulo">
        <span class="login">Login</span>
        </h1>
        <input type="email" name="email" id="email-box" placeholder="Your@email.com">
        <div id="alert-box">
            Email Obrigatório!
        </div>
        <input type="password" name="password" id="password-box" placeholder="Senha">
        <div id="alert-password">
            Senha Insuficiente!
        </div>
        <div id="button-box">
            <button type="submit" class="button-case" onclick="ClickButton(event)"><div id="button-enter">Entrar</div></button>
        </div>
    </form>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>