<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login_page.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
    <title>Document</title>
</head>
<body id="corpo">
    <div id="principal">
        <form action="" method="get">
            <div class="input-box">
                <input type="text" name="research" id="input-case" placeholder="Pergunte">
                <button type="submit" id="smartphone-research">
                    <img src="{{url_for('static', filename='/images/lupa.png')}}" alt="" >
                </button>
            </div>
            <div class="button-box">
                <button type="submit" id="button-case">
                    Pesquisar
                </button>
            </div>
        </form>

    </div>

    <div id="complemento">
        <span>Você pesquisou: {{context['research']}}</span>
    </div>
</body>
</html>